<div class="body">
  <div #content class="container">
    <textarea #titleText class="title" placeholder="This is Blog Title..." (input)="autoGrow(titleText)"></textarea>
    <div class="content" contenteditable="true" placeholder="This is Blog Content..."></div>
  </div>
  <div class="fakeBox"></div>
</div>
<div class="toolbar">
  <a href="javascript:void(0)" (click)="formatText('insertUnorderedList',null)" title="Unordered List" >
    <i class="fa fa-list-ul" aria-hidden="true"></i>
  </a>
  <a href="javascript:void(0)" (click)="formatText('formatblock','<h2>')" title="Header" >
      <i class="fa fa-header" aria-hidden="true"></i>
  </a>
  <a href="javascript:void(0)" (click)="formatText('bold',null)" title="Bold" >
    <i class="fa fa-bold" aria-hidden="true"></i>
  </a>

  <a href="javascript:void(0)" (click)="formatText('italic',null)" title="Italic" >
    <i class="fa fa-italic" aria-hidden="true"></i>
  </a>

  <a href="javascript:void(0)" (click)="formatText('underline',null)" title="Underline" >
     <i class="fa fa-underline" aria-hidden="true"></i>
  </a>

  <a href="javascript:void(0)" (click)="insertImage()" title="Insert Image" >
    <i class="fa fa-picture-o" aria-hidden="true"></i>
  </a>

  <a href="javascript:void(0)" (click)="insertVideo()" title="Insert Video" >
    <i class="fa fa-video-camera" aria-hidden="true"></i>
  </a>

  <a href="javascript:void(0)" (click)="showPopup()" title="Insert Link" >
    <i class="fa fa-link" aria-hidden="true"></i>
  </a>
</div>

<div class="popupBackground" *ngIf="isPopupVisible"></div>

<div class="popup" id="insertAnchorPopup" *ngIf="isPopupVisible">
  <form #anchorForm=ngForm (ngSubmit)="insertAnchor()">
    <div class="label">
      <label for="AnchorTagText">Enter Text to display : </label>
    </div>
    <div class="inputText">
      <input type="text" name="AnchorTagText" id="AnchorTagText" [(ngModel)]=anchorText>
    </div>
    <div class="label">
      <label for="AnchorTagHref">Enter URL : </label>
    </div>
    <div class="inputText">
      <input type="text" name="AnchorTagHref" id="AnchorTagHref" [(ngModel)]=anchorLink>
    </div>
    <button type="submit">Submit</button>
    <button (click)="hidePopup()">Cancel</button>
  </form>
</div>